@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@model ColourCoordination.Models.Outfit

<div class="index-content">
    <div>
        <a href="@Url.Action("GetSetShirtColor", "ColourController")" />
    </div>
</div>

