@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

@model ColourCoordination.Models.Outfit

<div class="index-content">
    <div class="links-container">
        <div class="link-item">
            <img src="https://ficardo-weddings.com/images/tshirt-drawing/white-t-shirt-essential.jpg" />
            <a href="/set-shirt">Set Shirt</a>
        </div>
        <div class="link-item">
            <img src="https://png.pngtree.com/element_origin_min_pic/16/07/07/09577daf77f0d0e.jpg" />
            <a href="/set-pants">Set Pants</a>
        </div>
        <div class="link-item">
            <img src="https://banner2.kisspng.com/20171130/5eb/yellow-women-shoes-png-image-5a20dfc87edc80.5030738115121038805196.jpg" />
            <a href="/set-shoes">Set Shoes</a>
        </div>
    </div>
</div>

